.button {
	position: relative;
	padding: 10px 15px;
	background: #eee;
	border: 1px solid #ccc;
	border-radius: 2px;
	text-align: center;
	color: #333;
	outline: none;
	cursor: pointer;
	-webkit-user-select: none;  
  	-moz-user-select: none;    
  	-ms-user-select: none;      
  	user-select: none;
}

.button:active {
	box-shadow: inset 0 5px 10px 5px rgba(0, 0, 0, .059);
}

.button.button-positive {
	border-color: #0c60ee;
	background: #387ef5;
	color: #eee;
}

.button.button-positive:active {
	background-color: #0c60ee;
}

.button.button-positive.button-outline:active {
	color: #eee;
}

.button.button-positive.button-outline {
	color: #387ef5;
}

.button.button-calm {
	border: 1px solid #0a9dc7;
	background: #11c1f3;
	color: #eee;
}

.button.button-calm:active {
	background: #0a9dc7;
}

.button.button-calm.button-outline:active {
	color: #eee;
}

.button.button-calm.button-outline {
	color: #11c1f3;
}

.button.button-balanced {
	border: 1px solid #28a54c;
	background: #33cd5f;
	color: #eee;
}

.button.button-balanced:active {
	background: #28a54c;
}

.button.button-balanced.button-outline:active {
	color: #eee;
}

.button.button-balanced.button-outline {
	color: #33cd5f;
}

.button.button-energized {
	border: 1px solid #e6b500;
	background: #ffc900;
	color: #eee;
}

.button.button-energized:active {
	background: #e6b500;
}

.button.button-energized.button-outline:active {
	color: #eee;
}

.button.button-energized.button-outline {
	color: #ffc900;
}

.button.button-assertive {
	border: 1px solid #e42112;
	background: #ef473a;
	color: #eee;
}

.button.button-assertive:active {
	background: #e42112;
}

.button.button-assertive.button-outline:active {
	color: #eee;
}

.button.button-assertive.button-outline {
	color: #ef473a;
}

.button.button-royal {
	border: 1px solid #6b46e5;
	background: #886aea;
	color: #eee;
}

.button.button-royal:active {
	background: #6b46e5;
}

.button.button-royal.button-outline:active {
	color: #eee;
}

.button.button-royal.button-outline {
	color: #886aea;
}

.button.button-dark {
	border: 1px solid #111;
	background: #444;
	color: #eee;
}

.button.button-dark:active {
	background: #262626;
}

.button.button-dark.button-outline:active {
	color: #eee;
}

.button.button-dark.button-outline {
	color: #444;
}

.button.button-block {
	width: 100%;
}

.button.button-small {
	padding: 5px 10px;
	font-size: 10px;
}

.button.button-large {
	padding: 15px 20px;
	font-size: 15px;
}

.button.button-outline {
	background: none;
}

.button i.fa {
	font-size: 25px;
	padding: 0px;
}

.button.button-icon i.fa {
	position: relative;
	font-size: 25px;
	margin-left: 5px;
	margin-right: -5px;
	margin-top: -6px;
	margin-bottom: -6px;
	vertical-align: middle;
}

.button i.fa {
	position: relative;
	font-size: 25px;
	margin-left: -5px;
	margin-right: -5px;
	margin-top: -6px;
	margin-bottom: -6px;
	vertical-align: middle;
	right: 0px;
}

.button-group {
	overflow: hidden;
}

.button-group .button {
	border-radius: 0px;
	border-right-width: 0px;
	float: left;
}

.button-group .button:first-child {
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

.button-group .button:last-child {
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	border-right-width: 1px;
}

.button-group.button-large .button {
	padding: 15px 20px;
	font-size: 15px;
}

.button-group.button-small .button {
	padding: 5px 10px;
	font-size: 10px;
}


.button-group.button-oval .button:first-child {
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.button-group.button-oval .button:last-child {
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-right-width: 1px;
}

.button-group.button-split .button {
	margin: 0 5px;
	border-width: 1px;
	border-radius: 2px;
}

.button-group.button-split.button-oval .button{
	border-radius: 50px;
}