
/*Text Elements*/

.text-center{
	text-align: center;
}

.text-left{
	text-align: left;
}

.text-right{
	text-align: right;
}

.text-justify{
	text-align: justify;
	text-align-last:center;
}

.text-truncate{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display:block;
}

.text-bold{
	font-weight: 600;	
}

.text-positive {
	color: #387ef5;
}

.text-calm {
	color: #11c1f3;
}

.text-balanced {
	color: #33cd5f;
}

.text-energized {
	color: #ffc900;
}

.text-assertive {
	color: #ef473a;
}

.text-royal {
	color: #886aea;
}

.text-dark {
	color: #444;
}

.text-light {
	color: #fafafa;
}


/*Divider Elements*/

.divider-light{
	background: #fafafa;
	padding: 10px 0;
}

.divider-dark{
	background: #444;
	padding: 10px 0;
}

.divider-energized{
	background: #ffc900;
	padding: 10px 0;
}


.divider-balanced{
	background: #33cd5f;
	padding: 10px 0;
}

.divider-positive{
	background: #387ef5;
	padding: 10px 0;
}

.divider-calm{
	background: #11c1f3;
	padding: 10px 0;
}

.divider-royal{
	background: #886aea;
	padding: 10px 0;
}

.divider-assertive{
	background: #ef473a;
	padding: 10px 0;
}